// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url('http://images.freeimages.com/images/previews/6e3/house-in-forest-1207477.jpg') #777 no-repeat center center fixed;
  background-size: cover;
}

li {
  list-style: none;
}

textarea#entry_message {
  height: 90px;
  margin-top: 10px;
}

input.btn {
  margin-top: 10px;
  font-size: 16px;
}

.main.container {
  margin-top: 60px;
}
